/* BACKGROUND COLORS */

$primary-color: #6856F4 !default;
$primary-color-light: lighten($primary-color, 8%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
$primary-color-disabled: lighten($primary-color, 15%);

/* TEXT COLORS */

$text-neutral-color: rgb(100, 100, 100);
$text-label-color: lightblue;
$text-primary-color: whitesmoke;
$text-primary-color-disabled: $primary-color-light;
$text-secondary-color: #afaadb;

/* SHADOW COLOR */

$shadow-color: rgba(135, 159, 212, 0.3);

$error-color: #c62828 !default;
$error-color-dark: darken($error-color, 15%) !default;
$success-color: green !default;
