@import "colors";

.modal {
  background-color: $primary-color;
  border-radius: 10px !important;
  max-height: 98% !important;
  font-family: 'Roboto', sans-serif !important;
  opacity: 0.8;

  .modal-title {
    margin: 0 21.75px 30px 21.75px;
    font-size: 34.2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .modal-footer {
    display: flex;
    width: auto;
    padding: 0;
    margin: 20px 21.75px 0 21.75px;
    flex-direction: row-reverse;
    background-color: inherit !important;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 500px) {
  .modal {
    margin: 0 !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    top: 0 !important;
    bottom: 0 !important;
    border-radius: 0 !important;
  }
}
