.modal {

}

.card:not(.edit) {
  cursor: pointer;
}

.card-content {
  display: flex;
  align-items: center;

  .edit-actions {
    flex-grow: 1.5;
    padding: 0 20px 0 5px;
  }

  .user-information {
    flex-grow: 2;
  }

  .generate-attestation {
    display: flex;
    flex-direction: column;
    color: #6856F4;
  }
}

.modal .row {
  margin: 0;
}
.modal .col {
  margin-bottom: 10px;
}


form {
  margin: 0 0 14.8px 0 !important;
}
