
.add-person-btn {
  margin: auto;
  width: 280px;
  height: 56px;
  background-color: #006EDB;
  border-radius: 8px;
  text-align: center;
  line-height: 56px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  transition: 0.3s;
  text-decoration: none;
  text-transform: initial;
  font-size: 16px;

  .btn-content {
    width: 230px;
    margin: 0 auto;

    p {
      color: white;
      line-height: 56px;
      margin: 0;

      i {
        font-size: 24px;
        line-height: 56px;
      }
    }
  }
}

.add-person-btn:hover {
  cursor: pointer;
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
  transition: 0.3s;
}

.modal {
  overflow-y: scroll;
}

.modal-content {

  .modal-title {
    display: flex;
    height: 54px;
    margin-left: 16px;

    span {
      font-size: 36px;
      line-height: 54px;
    }

    h4 {
      font-size: 26px;
      line-height: 54px;
      margin-left: 26px;
    }
  }

  .attestation-form {
    margin: 20px 16px 20px 16px;
  }

  .save-person-btn {

    margin-left: 20px;

    a {
      height: auto !important;
      margin-top: 20px;
      width: 130px;
      background-color: #006EDB;
      border-radius: 8px;
      text-align: center;
      line-height: 46px;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
      transition: 0.3s;
      text-decoration: none;
      color: white;
      border: none;
      font-size: 16px;
      padding: 4px 12px 4px 12px;
    }

    a:hover {
      cursor: pointer;
      box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
      transition: 0.3s;
    }

  }

}

.card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
  color: black;
  box-shadow: none;

  .card-title {
    color: black;
  }

  p {
    color: #666;
  }

  .card-action {
    display: flex;

    div {
      text-transform: initial !important;
      height: 56px;
      margin-top: 20px;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
      transition: 0.3s !important;
      text-decoration: none;
      border: none;
      font-size: 16px;
      color: white !important;
      margin-right: 16px;

      .btn-content {
        margin: 0 12px;
        display: flex;
        justify-content: space-around;
        box-shadow: none;

        p, span {
          line-height: 56px;
          color: white !important;
          margin: 0;
        }
      }
    }

    div:hover {
      cursor: pointer;
      box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
      transition: 0.3s !important;
      color: white !important;
    }

    .new {
      width: 210px;
      background-color: #006EDB;
    }

    .delete {
      width: 140px;
      background-color: #E8475C;
    }

  }
}


