<div class="row">
  <div class="col">
    <div class="add-person-btn modal-trigger" href="#add-user-modal">
      <div class="btn-content">
        <p>
          <i class="material-icons left">add_circle_outline</i>
          Ajouter une personne
        </p>
      </div>
    </div>
    <!--<div class="btn-content">
      <a class="add-person-btn waves-effect waves-light btn modal-trigger" href="#modal1">
        <i class="material-icons left"></i>
        Ajouter une personne
      </a>
    </div>-->

    <div id="add-user-modal" class="modal">
      <div class="modal-content">
        <div class="modal-title">
          <span class="material-icons">perm_identity</span>
          <h4>Ajouter une personne</h4>
        </div>

        <div class="row attestation-form">
          <form class="col s12" [formGroup]="addPeopleForm">
            <div class="row">
              <div class="input-field col m6 s12">
                <input formControlName="firstName" id="first-name" type="text" class="validate">
                <label for="first-name">Prénom</label>
              </div>
              <div class="input-field col m6 s12">
                <input formControlName="lastName" id="last-name" type="text" class="validate">
                <label for="last-name">Nom</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input formControlName="birthDate" id="birth-date" type="date">
                <label for="birth-date">Date de naissance</label>
              </div>
              <div class="input-field col m6 s12">
                <input formControlName="birthPlace" id="birth-city" type="text" class="validate">
                <label for="birth-city">Lieu de naissance</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="address" id="address" type="text" class="validate">
                <label for="address">Adresse</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input formControlName="postalCode" id="postal-code" type="text" class="validate">
                <label for="postal-code">Code Postal</label>
              </div>
              <div class="input-field col m6 s12">
                <input formControlName="city" id="city" type="text" class="validate">
                <label for="city">Ville</label>
              </div>
            </div>
          </form>
        </div>

        <div class="save-person-btn">
          <a (click)="onSubmit()" class="modal-close waves-effect waves-green btn-flat">Ajouter</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col m6 s12" *ngFor="let user of users">
    <div class="card">
      <div class="card-content white-text">
        <span class="card-title">{{user.firstName}}</span>
        <p>Né le {{user.birthDate | date : 'dd/MM/yyyy'}}, à {{user.birthPlace}}</p>
        <p>{{user.address}}</p>
        <p>{{user.postalCode}} - {{user.city}}</p>
      </div>
      <div class="card-action">
        <div class="new" [routerLink]="['/', 'attestation', user.id]" >
          <div class="btn-content">
            <span class="material-icons">assignment</span>
            <p>Nouvelle attestation</p>
          </div>
        </div>
        <div class="delete" (click)="deleteUser(user)">
          <div class="btn-content">
            <span class="material-icons">delete_outline</span>
            <p>Supprimer</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
