.modal {
  .btn {
    margin-left: 16px;
  }

  .modal-title {
    display: flex;
    height: 54px;
    margin-left: 16px;

    span {
      font-size: 36px;
      line-height: 54px;
    }

    h4 {
      font-size: 26px;
      line-height: 54px;
      margin-left: 26px;
    }
  }

  .attestation-form {
    margin: 20px 16px 20px 16px;
  }
}
