<div class="row">
  <div class="col s12">
    <h1>Les raisons de mon déplacement</h1>
  </div>
  <div class="col m3" *ngFor="let reason of reasons">
    <div class="card" [ngClass]="{'active': reason.active}" (click)="switchReason(reason)">
      <div class="card-content white-text">
        <span class="card-title">{{reason.title}}</span>
        <p>{{reason.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <a class="waves-effect waves-light btn" (click)="generateAttestation()">Générer l'attestation
      de {{user.firstName}}</a>
  </div>
</div>
