@import "../../../styles";

.card.active  {
  background-color: $primary-color;
  color: whitesmoke;

  .card-title span {
    color: whitesmoke;
  }

  .description {
    color: whitesmoke;
  }
}

.actions-bar {
  padding-top: 25px;
  margin: 0 11.25px 50px 11.25px;

  .btn {
    margin-top: 5px;
  }
}
