
.top {
  padding-bottom: 20px;

  h1 {
    font-size: 36px;
  }

}

.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: none;

  .card-content {
    color: black;

    .title {
      display: flex;
      justify-content: left;

      .material-icons {
        color: #444;
        line-height: 56px;
        font-size: 32px;
      }

      .card-title {
        line-height: 56px;
        margin-left: 16px;
      }
    }

    .description {
      color: #666;
    }
  }
}

.card:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.active {
  border: 1px solid #006EDB;
  background: #006EDB;

  .card-content {
    color: white;

    .title {
      .material-icons {
        color: white;
      }
    }

    .description {
      color: white;
    }
  }
}

.generate-btn {

  a {
    height: auto !important;
    margin-top: 20px;
    background-color: #006EDB;
    border-radius: 8px;
    text-align: center;
    line-height: 46px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 16px;
    padding: 8px 22px 8px 22px;
  }

  a:hover {
    cursor: pointer;
    box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
    transition: 0.3s;
  }

}

@media (orientation: portrait) {

  .mobile-content {
    width: 80%;
    margin: 0 auto;
  }

  .top {
    .title {
      font-size: 56px;
    }

    p {
      font-size: 32px;
    }
  }

  .card {
    margin-top: 36px;

    .card-content {
      .title {
        margin: 0 6%;

        .material-icons {
          font-size: 48px;
        }
        .card-title {
          font-size: 42px;
        }
      }
      .description {
        margin: 4% 6%;
        font-size: 32px;
      }
    }
  }

  .generate-btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 120px;
    float: initial !important;

    a {
      width: 100%;
      font-size: 38px;
      text-transform: initial;
      padding: 6% 12%;
    }
  }

}
