@import "../../../styles";

.title {
  display: flex;
  justify-content: left;

  .material-icons {
    color: #444;
    line-height: 56px;
    font-size: 32px;
  }

  .card-title {
    line-height: 56px;
    margin-left: 16px;
  }
}
.card.active  {
  background-color: $primary-color;
  color: white;

  .title span {
    color: white;
  }

  .description {
    color: white;
  }
}
