<footer class="footer">
  <p>Copyright © {{date | date : 'yyyy'}} | Version {{version}}</p>
  <p>Ce site est une initiative du groupe Stoodent. Développé par
    <a href="https://lyro.fr" target="_blank">Louis Dupont</a>,
    <a href="https://romainbourre.fr" target="_blank">Romain Bourré</a> et
    <a href="https://www.linkedin.com/in/jean-baptiste-rigal-b39826135/" target="_blank">Jean-Baptiste Rigal</a>.
    Ce site n'est aucunement lié au Ministère de l'Interieur.
  </p>
  <p>
    Merci à l'incubateur du ministère de l'intérieur pour son code source de <a
    href="https://github.com/LAB-MI/attestation-couvre-feu-covid-19" target="_blank">LAB-MI/attestation-couvre-feu-covid-19</a>
  </p>
  <p>Illustration by <a href="undefined">Natasha Remarchuk</a> from <a href="https://icons8.com/">Icons8</a>,
    Illustration by <a href="https://www.artstation.com/loparev">Alexey Loparev</a> from <a href="https://icons8.com/">Icons8</a>
  </p>
</footer>
