<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"><span class="hide-on-med-and-down">COVID19 - </span>Générateur d'attestation</a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
    <p>
      Copyright © 2020 | Ce site est une initiative du groupe Stoodent. Développé par
      <a href="https://lyro.fr" target="_blank">Louis Dupont</a>,
      <a href="https://romainbourre.fr" target="_blank">Romain Bourré</a> et
      <a href="https://www.linkedin.com/in/jean-baptiste-rigal-b39826135/" target="_blank">Jean-Baptiste Rigal</a>.
      Ce site n'est aucunement lié au Ministère de l'Interieur.
    </p>
  <p>
    Merci à l'incubateur du ministère de l'intérieur pour son code source de <a href="https://github.com/LAB-MI/attestation-couvre-feu-covid-19" target="_blank">LAB-MI/attestation-couvre-feu-covid-19</a>
  </p>
</footer>
