@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

@import "assets/scss/colors";
@import "assets/scss/button";
@import "assets/scss/forms";
@import "assets/scss/modals";
@import "assets/scss/cards";


html {
  height: 100%;

  *:not(input) {
    user-select: none;
  }
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.container, .container-fluid {
  padding-top: 20px;
}

.part-title {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  align-items: baseline;
  margin-top: 22.8px;
  margin-bottom: 13.68px;

  .main {
    font-size: 34.2px;
  }

  .secondary {
    font-size: 20px;
    vertical-align: bottom;
    margin: 0 30px 0 30px;
    color: cornflowerblue;
  }
}

.link {
  color: cornflowerblue;
  cursor: pointer;
}

.actions-bar {
  margin-bottom: 20px;
}






