@import "assets/scss/colors";
@import "assets/scss/button";
@import "assets/scss/forms";
@import "assets/scss/modals";
@import "assets/scss/cards";


html {
  height: 100%;

  *:not(input) {
    user-select: none;
  }
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.container, .container-fluid {
  padding-top: 20px;
}

@media(max-width: 400px) {
  .hide-mobile {
    display: none;
  }
}

.part-title {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  align-items: baseline;
  margin-top: 22.8px;
  margin-bottom: 13.68px;

  .main {
    font-size: 34.2px;
  }

  .secondary {
    font-size: 20px;
    vertical-align: bottom;
    margin: 0 30px 0 30px;
    color: cornflowerblue;
  }
}

.part-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin-bottom: 50px;
}

.actions-bar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-bottom: 20px;
}






